<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400i|Rammetto+One" rel="stylesheet">
  <title>Foodies Unite!</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/styles.css">
</head>

<body>

  <header id="home">

    <nav class="small-screen-nav large-screen-nav">
      <div class="hamburger-nav-bar">
      <i class="fas fa-bars hamburger-icon"></i>
    </div>

      <i class="fas fa-times"></i>
      <ul class="nav-and-login nav-buttons nav-buttons-small-screen">
        
        <section class="nav-buttons nav-buttons-small-screen">
          <img src="images/logo.png" alt="logo">
          <li><a href="#home">home</a></li>
          <li><a href="#about">about</a></li>
          <li><a href="#allComments">message</a></li>
        </section>

        <section class="user-buttons">
          <button>LOG IN</button>
          <button>SIGN UP</button>
        </section>
     
      </ul>
    </nav>

<!--     <section class="create-user">
      <form method="POST" action="http://localhost:3000/api/users">
        <input type="text" placeholder="user name" name="user" value="">
        <input type="text" placeholder="password" name="password" value="">
        <input type="submit" id="submit-user" name="SUBMIT">
      </form>
    </section> -->

  </header>

  <main>
    
    <section class="search-section">
      
      <div class="search-text">
        <h1>FOODIES UNITE!</h1>
        <h2>Bringing easy food choices to the masses.</h2>
      </div>

      <form method="GET" class="search-form">
        <label for="cityName">Lets get started...</label>
        <input id="cityName" type="text" name="city" placeholder="Enter city..." value=""/>
        <input type="submit" id="cuisine-submit" name="submit"/>
      </form>

    </section>

    <section id="search-results" class="results-section">
    </section>

    <section class="about-us-section" id="about">

      <h3>Our story...</h3>

      <div class="col">
        <p>We were created because of a need for great food choices for the visual person on the go. We simplify your choices by providing a simple way to either be appitized or not, no matter where you are in the world.  We all have busy lifestyles and restaurant searching should not be an ordeal.</p>

        <p>Simply type in the city you desire and scroll through images until you are inspired and we'll do the rest by providing the restaurant information.  That's it!  Now search and enjoy.</p>
      </div>

    </section>

    <section class="comment-box" id="allComments">
      <div class="comment-shell">
      
      <h3>Tell us what you think...</h3>
      
      <div class="comments-section" id="comments">
        
        <div id="comment-container">
        </div>

        <form class="comments-form" method="POST" action="http://localhost:3000/api/comments">
          <input type="text" name="name" placeholder="enter your name..." value=""/>
          <textarea name="message" id="message" placeholder="Drop us a line..."></textarea>
          <div class="comment-submit-div">
            <input type="submit" id="comment-submit" name="SUBMIT"/>
          </div>
        </form>
      </div>
      </div>
    </section>

  </main>

  <footer>
  <p>Foodies Unite, 2018</p>
</footer>

<script type="text/javascript" src="scripts/jquery.js"></script>
<script src="scripts/app.js"></script>
</body>
</html>