<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Foodies Unite!</title>
  <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>

  <nav>
    <ul class="nav-buttons">
      <li><a href="">home</a></li>
      <li><a href="">about</a></li>
      <li><a href="">message</a></li>
    </ul>
    <div class="user-buttons">
      <button>LOG IN</button>
      <button>SIGN UP</button>
    </div>
  </nav>

  <header>
    <h1>FOODIES UNITE!</h1>
    <h2>For travel enthusiasts who love to eat...</h2>
  </header>

  <main></main>

  <footer></footer>


<script src="/scripts/app.js"></script>
</body>
</html>