/*---Global styles---*/

body {
  background-image: url('../images/table.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh; 
  /*background-color: #3a3a3a*/;
  color: #f2f2f2;
  max-width: 1400px;
  text-align: center;
  margin: 0 auto;
}

main {
  color: #3a3a3a;
}

/*generic hide class*/
.hide {
  display: none;
}

/*---HEADER---*/
h1 {
  font-size: 40px;
  color: #6FB7FF;
  margin-top: 5em;
}

h2 {
  margin-bottom: 10em;
}

/*---NAV---*/
nav {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
}

a {
  color: #3a3a3a;
  text-decoration: none;
  list-style-type: none;
  padding: 0 20px;
}

li {
  list-style-type: none;
  color: white;
}

.nav-buttons {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

li:first-of-type {
  background-color: grey;
}

.user-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/*---MAIN---*/

/*--Search--*/

.search-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
  /*border: 2px solid white;*/
  margin: 0 auto;
}

.search-section form {
  font-size: 40px;
  color: #3a3a3a;
  height: 65%;
  width: 40%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, .8);
}

.search-section form input {
  border: 2px solid red;
}

/*---Search results---*/

.results-section {
  width: 30%;
}

/*---About---*/
.about-us-section {
  color: #3a3a3a;
  background-color: #F2F2F2;
  height: 100vh;
  margin-bottom: 40px;
}

/*---Comments---*/

.comment-box {
  display: flex;
  justify-content: center;
}

.comment-shell {
  color: #3a3a3a;
  background-color: rgba(229,243,253, .9);
  height: 550px;
  width: 80%;
}

h3 {
  margin-top: 40px;
}

.comments-section {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.comments-form, #comment-container {
  margin: 20px;
  width: 48%;
}

.comments-section input, .comments-section textarea {
  box-sizing: border-box;
  border: 1px solid white;
  padding: 5px;
  font-size: 1em;
}

.comments-section form input {
  height: 30px;
  width: 100%;
}

.comments-section form textarea {
  height: 250px;
  width: 100%;
  margin: 10px auto;
}

.comment-submit-div {
  display: flex;
  justify-content: flex-end;
}

#comment-submit {
  width: 25%;
}

.comment-results {
  display: none;
  transition: all 0.5s ease;
}

.comment-results p {
  color: black;
}

.show {
  display: block;
  transition: all 0.5s ease;
}

/*---FOOTER---*/
footer {
  padding: 20px;
  font-weight: bold;
}


