body {
  background-color: #3a3a3a;
  color: #f2f2f2;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}

/*generic hide class*/
.hide {
  display: none;
}

/*NAV SECTION*/
nav {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
}

a {
  color: #3a3a3a;
  text-decoration: none;
  list-style-type: none;
  padding: 0 20px;
}

li {
  list-style-type: none;
  color: white;
}

.nav-buttons {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/*-----------------------*/

/*HEADER*/
h1 {
  font-size: 40px;
  color: #6FB7FF;
}

#pics {
  height: 400px;
  width: 100%;
  border: 2px solid white;
  margin: 0 auto;
}

/*USER PROFILE*/
.user-profile-info {
  height: 300px;
  width: 200px;
  background-color: white;
  color: black;
}

/*MAIN*/
/*Search*/

.search-section {
  height: 400px;
  width: 100%;
  border: 2px solid white;
  margin: 0 auto;
}

.cuisine-select {
  height: 200px;
  width: 200px;
  border: 1px solid yellow;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
  display: none;
}

/*About*/
.about-us-section {
  height: 400px;
  width: 100%;
  border: 2px solid white;
  margin: 0 auto;
}

/*Comments*/
.comments-section {
  height: 400px;
  width: 100%;
  border: 2px solid white;
  margin: 0 auto;
}

